<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DPJJFZLL9L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DPJJFZLL9L');
</script>
  <meta charset="UTF-8">
  <title>Complete Registration</title>
</head>
<body>
  <h2>Welcome! Complete your registration</h2>

  <form action="/auth/complete-registration" method="POST">
    <input type="hidden" name="phone" value="<%= phone %>">
    
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Finish</button>
  </form>
</body>
</html>
