<% layout("/layouts/boilerplate") %>
<style>
  @media (min-width: 768px) {
    .helli {
      margin-left: 200px;
    }
  }</style>
  <div class="helli mt-5">
  <h1>Something went wrong!</h1>
  <p><%= errorMessage %></p>
  <button class="btn btn-warning"><a href="/dashboard" style="text-decoration: none; color: black;">Go to Home Page</a></button>
</div>