<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DPJJFZLL9L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DPJJFZLL9L');
</script>
  <title>Your Parcel QR</title>
</head>
<body style="text-align: center; margin-top: 50px;">
  <h2>📦 Scan to Unlock</h2>
  <img src="<%= qrImage %>" alt="QR Code" width="300" />
</body>
</html>
