<!DOCTYPE html>
<html>
<head>
  <title>Your Parcel QR</title>
</head>
<body style="text-align: center; margin-top: 50px;">
  <h2>📦 Scan to Unlock</h2>
  <img src="<%= qrImage %>" alt="QR Code" width="300" />
</body>
</html>
